@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

.splash {
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &Text {
    user-select: none;
    padding-top: 50px;
    h1 {
      background-color: black;
      margin: 0;
      display: flex;
      align-items: center;
      height: 100px;
      font-weight: 900;
      font-family: 'Inter', sans-serif;
      font-size: 70px;
      padding: 10px;
      color: white;
    }

    h2 {
      margin: 0;
      font-size: 40px;
      font-family: 'Inter', sans-serif;
      font-weight: 600;
    }
  }

  &Image {
    height: 100%;
    width: 440px;

    &Mobile {
      height: 100%;
      align-items: center;
      justify-content: center;
      display: none;
    }

    @media only screen and (max-width: 1000px) {
      display: none;
      &Mobile {
        display: flex;
      }
    }
  }
}
