
.splash {
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &Text {
    user-select: none;
    padding-top: 50px;
    h1 {
      background-color: black;
      margin: 0;
      display: flex;
      align-items: center;
      height: 100px;
      font-weight: 900;
      font-family: 'Inter', sans-serif;
      font-size: 70px;
      padding: 10px;
      color: white;
    }

    h2 {
      margin: 0;
      font-size: 40px;
      height: 50px;
      font-family: 'Inter', sans-serif;
      font-weight: 700;

      animation: highlight 4s infinite alternate;
      animation-timing-function: ease-in-out;
      animation-delay: 0.1s;
      
      @keyframes highlight {
        0% {
          color: black;
        }
        50% {
          color: rgb(27, 170, 202);
        }
      }
    }

    @media only screen and (max-width: 1000px) {
      align-items: center;
      justify-content: center;
      text-align: center;

      h1 {
        font-size: 50px;
      }

      h2 {
        font-size: 30px;
      }
    }
  }

  &Image {
    height: 100%;
    width: 440px;

    @media only screen and (max-width: 1000px) {
      display: none;
      &Mobile {
        display: flex;
      }
    }
  }

  @media only screen and (max-width: 1000px) {
    align-items: center;
    justify-content: center;
  }
}

.dot {
  cursor: pointer;

  &__toggled {
    $color: rgb(21, 215, 21);
    color: $color;
    animation: glow alternate ease-in-out 1s infinite;
    
    @keyframes glow {
      0% {
        text-shadow: 0 0 0px $color;
      }
      100% {
        text-shadow: 0 0 10px $color;
      }
    }
  }
}